{% extends 'base.html' %}
{% load static %}


{% block page_title %}{{ post.title }}{% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'blog/post-page.css' %}">
{% endblock %}

{% block content %}
    <section id='summary'>
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tags %}
                <span class='tag'>{{ tag.tag_name }}</span>
            {% endfor %}
        </div>
        <article>
            <img src='{{ post.image.url }}' alt='{{ post.title }}'>
            <address>By <a href='mailto:{{ post.author.email_address }}'>{{ post.author }}</a></address>
            <div>Last updated on <time>{{ post.date|date:'d M Y' }}</time></div>
        </article>
    </section>

    <main>
        {{ post.content|linebreaks }} 
    </main>

    <form action='post-page' method='POST'>
        {% csrf_token %}
        {% for field in form %}
            <div class='form-controls {% if field.errors %}errors{% endif %}'>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button>Save Comment</button>
    </form>
{% endblock %}